.card {
  background-color: #f2e6d9;
  border: 5px solid #e6ccb3;
  padding: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #873600;
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  color: #2d2d2d;
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #873600;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

button:hover {
  background-color: #b7570e;
}

audio {
  display: none;
}
